.main__row{
  display: flex;
  justify-content: center;
  background-color: #EC3237;
}

.main__row a{
  font-size: 18px;
  font-weight: bold;


  margin-right: 35px;
  background-color: #EC3237;
  padding: 15px;
}

.main__row a:hover{
  background-color: #FEFEFE;
  transition-property: color;
  color: #EC3237;
}




