  <div class="sub-header">
    <h5 href="" class="email">www.example@gmail.com •</h5>
    <h5 href="" class="fixo">Fixo: (85)0000-0000 •</h5>
    <h5 href="" class="fixo2">Fixo: (85)0000-0000 •</h5>
    <h5 href="" class="wpp">WhatsApp1: (85)0000-0000</h5>
  </div>

<!-- <div class="line1">
  <hr>
</div> -->


<div class="header">

<div class="header-img">
  <img src="https://lh3.googleusercontent.com/p/AF1QipNEu7L1umu_v_mxMhdWPQMwUfv7_SlS-rAQYRrG=s680-w680-h510" alt="">
</div>

<div class="header-right">
  <a href="#home" class="active_instagram">
    <i class="fa-brands fa-instagram fa-xl"></i>
  </a>
  <a href="#contact" class="active_facebook">
    <i class="fa-brands fa-facebook fa-xl"></i>
  </a>
  <a href="#about" class="active_wpp">
    <i class="fa-brands fa-whatsapp fa-xl"></i>

    </a>




</div>


<!-- </div>
  <div class="line2">
    <hr> -->

  </div>



