*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  color: white;
  background-color: #202324;
  text-decoration: none;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


